* {
    margin:0px;
    padding:0px;
    text-decoration: none;
}

.header__logo {
    position: relative;
    margin: 10px;
}

.header__titulo {
    position: absolute;
    top: 28px;
    left: 100px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 14px;
}

.link {
    text-decoration: none;
    color: #22333B;
}

#menu {
    margin: 10px;
    width: 100%;
    bottom: 10px;
    text-decoration: none;
    background-color: #E8EEEC; 
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
    color: #000000;
}

.nav__menu li a{
    background-color:#E8EEEC;
    color:#000000;
    text-decoration:none;
    display:block;
}

.nav__menu li a:hover {
    background-color:#778DA9;
}

.banner {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.titulo__principal {
    background-color:#D58585;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    color: #ffffff;
    padding: 10px;
    margin-bottom: 10px;
}

.texto__principal {
    background-color:#E0E1DD;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    color: #22333B;
    padding: 10px;
    margin-bottom: 10px;
}

.texto__secundario {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
    background-color: #E0E1DD;
    font-weight: bold;
    color: #22333B;
    padding: 10px;
    margin-bottom: 10px;
}

.texto__novedades {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    color: #22333B;
    margin: 10px;
}

.texto__novedades ol {
    margin: 10px;
}

.imagenes__novedades {
    text-align: center;
}

.top__ventas ol li {
    background-color:#E0E1DD;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    color: #22333B;
    padding: 0px;
    margin-left: 25px;
}

.top__ventas p {
    font-size: 15px;
    font-style: italic;
}

#footer {
    text-decoration: none;
    background-color:#E0E1DD;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    color: #22333B;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.footer__general {
    margin-top: 10px;
    margin-bottom: 10px;
}

.redes__sociales {
    text-align: center;
}

.imagenes__categorias {
    text-align: center;
    margin: 10px;
}

.imagenes__lanzamientos {
    margin: 10px;
}

#formulario{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    color: #22333B;
    background-color: #ffffff;
    margin-left: 8px;
    padding: 5px;
}

#formulario p {
    margin: 10px;
}

.transformacion {
    transform: translate(30px);
    height: 300px;
    transition: height 2s;
}

.transformacion:hover {
    height: 400px;
}