.transformacion {
  transform: translate(10px);
  height: 100px;
  transition: height 2s; }
  .transformacion:hover {
    height: 300px; }

.btn-hechizo {
  background-color: #778DA9; }

.btn-tonta {
  background-color: #9BABC0; }

.btn-ultima {
  background-color: #DAE0E7; }

.btn-negro {
  background-color: #E6EAEF; }

.btn-primas {
  background-color: #F3F5F7; }

.color1 {
  background-color: #333333; }

.color2 {
  background-color: #666666; }

.color3 {
  background-color: #999999; }

.color4 {
  background-color: white; }

.color5 {
  background-color: grey; }

.fuente_blanco {
  color: white; }

.fuente_negro {
  color: black; }

.fondo_negro {
  background-color: black;
  border: 1px solid black; }

.fondo_blanco {
  background-color: white;
  border: 1px solid black; }

.valor1 {
  background-color: #333333;
  width: 360px; }

.valor2 {
  background-color: #333333;
  width: 480px; }

.valor3 {
  background-color: #333333;
  width: 600px; }

.estilo4 {
  color: #778DA9;
  text-align: center; }

.titulo, .titulo--nuevo {
  background-color: #E8EEEC;
  padding: 10px; }

.titulo--nuevo {
  margin: 50px;
  width: 70%;
  text-align: center; }

.titulo1, .espacio, .box, .titulo2 {
  color: #22333B;
  background-color: #8E3B46;
  text-align: center; }

.espacio, .box {
  padding: 10px; }

.box {
  width: 200px;
  height: 90px;
  text-align: center; }

.box2 {
  width: 300px;
  height: 80px;
  font-size: 30px;
  color: #000000;
  background-color: #E0E1DD;
  background-color: #E8EEEC;
  text-align: center; }
