* {
    margin:0px;
    padding:0px;
}

.header__logo {
    position: relative;
    top: 10px;
    width: 10%;
}

.header__titulo {
    position: absolute;
    top: 32px;
    left: 120px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 13px;
    margin-bottom: 20px;
}

.link {
    text-decoration: none;
    color: #22333B;
}

#menu {
    background-color: #E8EEEC; 
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
    text-decoration: none;
    color: #000000;
    width: 100%;
}

.columna1 {
    display: flex;
    row-gap: 10px;
    justify-content: flex-start;
    min-width: 100px;
    flex-wrap: wrap;
}

.columna2 {
    display: flex;
    row-gap: 10px;
    justify-content: flex-start;
    min-width: 100px;
    flex-wrap: wrap;
}

.columna3 {
    display: flex;
    row-gap: 10px;
    justify-content: flex-start;
    min-width: 100px;
    flex-wrap: wrap;
}

.columna4 {
    display: flex;
    row-gap: 10px;
    justify-content: flex-start;
    min-width: 100px;
    flex-wrap: wrap;
}

.columna5 {
    display: flex;
    row-gap: 10px;
    justify-content: flex-start;
    min-width: 100px;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

.nav__menu li a{
    background-color:#E8EEEC;
    color:#000000;
    text-decoration:none;
    padding: 13px;
}

.nav__menu > li {
    float: left;
}

.nav__menu li a:hover {
    background-color:#778DA9;
}

.banner1 {
    text-align: center;
}

.imagen--promo {
    margin-top: 10px;
    margin-left: 40px;
    align-content: center;
}

.article--titulo {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    color: #8E3B46;
    background-color: #ffffff;
    margin: 10px;
    justify-content: space-around;
}

#footer{
    text-decoration: none;
    width: 100%;
    margin: 10px;
    background-color: #E8EEEC; 
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    color: #000000;
}

.imagenes--redes{
    width: 100%;
    background-color: #E0E1DD; 
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    color: #000000;
}

.iconos1{
    position: sticky;
    top: 1050px;
    margin-left: 20px;
}

.iconos2{
    position: sticky;
    top: 1050px;
    margin-left: 60px;
}

.iconos3 {
    position: sticky;
    top: 1050px;
    margin-left: 100px;
}

#contenedor {
    display: grid;  
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

#contenedor2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.imagenes__categoria {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.imagenes--chicas img {
    display: flex;
    margin: 30px;
    width: 190px;
}

#section__h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    color: #22333B;
    background-color: #ffffff;
    margin-left: 5px;
    padding: 10px;
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    color: #22333B;
    background-color: #E0E1DD;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 5px;
}

.div--subtitulo {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
    color: #22333B;
    background-color: #ffffff;
    margin-left: 10px;
    padding-bottom: 10px;
}

.texto--resenas1{
    position: absolute;
    top: 690px;
    left: 140px;
}

.texto--resenas2{
    position: absolute;
    top: 990px;
    left: 140px;
}

#formulario{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    color: #22333B;
    background-color: #ffffff;
    margin-left: 8px;
    padding: 5px;
}

.terminos{
    margin-top: 10px;
    margin-bottom: 20px;
}

#gracias{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 21px;
    color: #8E3B46;
    background-color: #ffffff;
    margin-left: 10px;
    margin-bottom: 10px;
}

.texto--lanzamientos{
    position: absolute;
    top: 750px;
    left: 140px;
}

.imagenes--lanzamientos{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 10%;
}

@media screen and (max-width: 320px) {
    #contenedor {
        grid-area: 1fr 1fr 1fr;
        width: 30%;
    }
    
    #contenedor2 {
        grid-area: 1fr 1fr 1fr;
        width: 50%;
        justify-content: space-between;
    }

    .imagenes__categoria {
        display: flex;
        width: 30%;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    
    .imagenes--chicas img {
        display: flex;
        width: 35%;
        margin: 5px;
    }

    .header__logo {
        position: relative;
        top: 10px;
        width: 20%;
    }

    .header__titulo {
        position: absolute;
        top: 18px;
        left: 58px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 8px;
        margin-bottom: 10px;
    }

    #menu { 
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 12px;
        text-decoration: none;
        color: #000000;
        width: 98%;
    }

    .banner1 {
        text-align: center;
        width: 20%;
    }

    .article--titulo {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 13px;
        color: #ffffff;
        background-color: #778DA9;
        padding: 5px;
        width: 20%;
        justify-content: center;
    }

    p {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 12px;
        color: #22333B;
        background-color: #E0E1DD;
    }
    .imagen--promo {
        margin-top: 10px;
        margin-left: 40px;
        align-content: center;
        width: 45%;
    }

    #footer{
        text-decoration: none;
        width: 100%;
        margin: 10px;
        background-color: #E8EEEC; 
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 10px;
        color: #000000;
    }
    
}

@media screen and (min-width: 1024px) {
    #contenedor { 
        width: 100%;
    }

    #contenedor2 {
        grid-area: 1fr 1fr 1fr;
        width: 100%;
    }

    .imagenes__categoria {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    
    .imagenes--chicas img {
        display: flex;
        margin: 30px;
        width: 20%;
    }

    .header__logo {
        position: relative;
        top: 10px;
        width: 10%;
    }
    
    .header__titulo {
        position: absolute;
        top: 32px;
        left: 120px;
        font-family:Georgia, 'Times New Roman', Times, serif;
        font-size: 13px;
        margin-bottom: 20px;
    }

    #menu {
        background-color: #E8EEEC; 
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 17px;
        text-decoration: none;
        color: #000000;
        width: 100%;
    }

    .banner1 {
        text-align: center;
        width: 100%;
    }

    p {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 17px;
        color: #22333B;
        background-color: #E0E1DD;
    }

    .article--titulo {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 18px;
        color: #8E3B46;
        background-color: #ffffff;
        margin: 10px;
        justify-content: space-around;
    }

    .imagen--promo {
        margin-top: 10px;
        margin-left: 40px;
        align-content: center;
    }

    .imagenes__categoria {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    
    .imagenes--chicas img {
        display: flex;
        margin: 30px;
        width: 50%;
    }

    #footer{
        text-decoration: none;
        width: 100%;
        margin: 10px;
        background-color: #E8EEEC; 
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 15px;
        color: #000000;
    }
    
    .imagenes--redes{
        width: 100%;
        background-color: #E0E1DD; 
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 15px;
        color: #000000;
    }
    
    .iconos1{
        position: sticky;
        top: 1050px;
        margin-left: 20px;
    }
    
    .iconos2{
        position: sticky;
        top: 1050px;
        margin-left: 60px;
    }
    
    .iconos3 {
        position: sticky;
        top: 1050px;
        margin-left: 100px;
    }
}